@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'GT-Walsheim-Regular';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('./lib/Assets/fonts/GT-Walsheim-Regular.woff') format('woff2');
    }
}